* 
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    background: rgba(249, 229, 229, 0.4);
    font-size: 1.25rem;
}

#nav-bar {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%)
}

#header-img {
    margin-top: 2rem;
    width: 100%;
}

#nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}

@media (max-width: 500px) {
    #header-img {
        width: 100%;
    }
}

header, section, footer 
{
    max-width: 750px;
    margin-inline: auto;
    text-align: center;
}